<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      max-width: 300px;
      margin: auto;
      text-align: center;
      font-family: arial;
    }

    .price {
      color: grey;
      font-size: 22px;
    }

    .card button {
      border: none;
      outline: 0;
      padding: 12px;
      color: white;
      background-color: #000;
      text-align: center;
      cursor: pointer;
      width: 100%;
      font-size: 18px;
    }

    .card button:hover {
      opacity: 0.7;
    }

    /* The switch - the box around the slider */
    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
    }

    /* Hide default HTML checkbox */
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    /* The slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    input:checked+.slider {
      background-color: #2196F3;
    }

    input:focus+.slider {
      box-shadow: 0 0 1px #2196F3;
    }

    input:checked+.slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
  </style>
</head>

<body>

  <h2 style="text-align:center">Item</h2>
  <div class="card">
    <button onclick="window.history.back();" style="font-size:20px;background-color: #0d1a24;"><i
        class="fa fa-close"></i></button>

    <iframe src=<%= rows[0][6] %>></iframe>
    <p>barcode:<%= rows[0][7] %></p>
    <p>item:<%= rows[0][8] %></p>
    <p>location:<%= rows[0][10] %></p>
    <p>stock:<%= rows[0][9] %></p>
    <hr>

    <label class="switch">
      <input id="togBtn" type="checkbox">
      <span class="slider round"></span>
    </label>
    <br><br>








    <!--stock out form  -->
    <form action='/stock-out' method='post' id="stockoutForm">
      <label for="deliveryman">Deliveryman:</label>
      <input type="text" id="deliveryman" name="deliveryman" required><br><br>

      <label for="project">Project:</label>
      <select name="project" id="project" required>
        <% for(var i=0; i<projects.length; i++) {%>
        <option><%= projects[i]%></option>
        <% } %>
      </select><br><br>
      <label for="quantity">Quantity:</label>
      <input type="text" id="quantity" name="quantity" required><br><br>
      <button onclick="alert('submit successfully')" style="background-color: #b6261c;color:white" type="submit">stock
        out</button>
    </form>

    <!--stock in  form  -->
    <form style="display: none;" action='/stock-in' method='post' id="stockinForm">
      <label for="deliveryman">Deliveryman:</label>
      <input type="text" id="deliveryman" name="deliveryman" required><br><br>

      <label for="project">Project:</label>
      <select name="project" id="project" required>
        <% for(var i=0; i<projects.length; i++) {%>
        <option><%= projects[i]%></option>
        <% } %>
      </select><br><br>
      <label for="quantity">Quantity:</label>
      <input type="text" id="quantity" name="quantity" required><br><br>
      <button onclick="alert('submit successfully')" style="background-color: #098680;color:white" type="submit">stock
        in</button>
    </form>
  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    $("#togBtn").on('change', function () {
      if ($(this).is(':checked')) {
        $("#stockinForm").css("display", "block");
        $("#stockoutForm").css("display", "none");
      }
      else {
        $("#stockinForm").css("display", "none");
        $("#stockoutForm").css("display", "block");
      }
    });
  </script>



</body>

</html>